@model eCommerceForPeripherials.Models.ViewModels.ContactViewModel

@{
    ViewData["Title"] = "Contact";
}

<div class="row" style="justify-content:center; max-width:35%; margin:auto; padding-top:0px;">
    <form id="contact" method="post" asp-controller="Home" asp-action="Contact">
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label for="email" class="form-label mt-4">Email</label>
            <input id="email" asp-for="Email" class="form-control" required>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="mobile" class="form-label mt-4">Phone Number</label>
            <input id="mobile" asp-for="MobileNumber" onfocusout="SetStartValue()" value="+995 " class="form-control" required>
            <span asp-validation-for="MobileNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="mess" class="form-label mt-4">Message</label>
            <textarea id="mess" asp-for="Message" class="form-control" rows="12" required></textarea>
            <span asp-validation-for="Message" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-secondary" value="Sign In">
        </div>

    </form>

</div>

<script>
    function SetStartValue() {
        var val = document.getElementById('mobile').value;
        if (!val.includes('+995 ')) {
            document.getElementById('mobile').value = '+995 ' + val;
        }
    }
</script>