@model eCommerceForPeripherials.Models.ViewModels.ContactViewModel
@{
    ViewData["Title"] = "Contact";
}

<div class="row" style="background-color:black; padding-bottom:120px;">
    <div class="login-wrap">
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab" style="position:center;">Contact</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab" hidden>Sign Up</label>
            <div class="login-form">
                <form id="contact" method="post" asp-controller="Home" asp-action="Contact">
                    <div class="sign-in-htm">
                        <div class="group">
                            <label for="user" class="label">Email</label>
                            <input id="user" asp-for="Email" type="text" class="input" required>
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Phone Number</label>
                            <input id="num" asp-for="MobileNumber" onfocusout="SetStartValue()" value="+995 " type="text" class="input" required>
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Message</label>
                            <textarea id="pass" asp-for="Message" type="tel" class="input" rows="12" required></textarea>
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="Sign In">
                        </div>
                        @*<div class="hr"></div>*@
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function SetStartValue() {
        var val = document.getElementById('num').value;
        if (!val.includes('+995 ')) {
            document.getElementById('num').value = '+995 ' + val;
        }
    }
</script>