@inject Microsoft.AspNetCore.Identity.SignInManager<eCommerceForPeripherials.Models.ApplicationUser> user

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shop</title>
    <link rel="stylesheet" href="~/css/darklyBootswatch.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">FPS.GE</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarColor03">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">მთავარი
                                    <span class="visually-hidden">(current)</span>
                                    </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="Mouse" asp-action="Index"><i class="bi bi-mouse-fill"></i> მაუსი</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="Keyboard" asp-action="Index"><i class="bi bi-keyboard-fill"></i> კლავიატურა</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="Headset" asp-action="Index"><i class="bi bi-headset"></i> ყურსასმენები</a>
                                    </li>

                                    <li class="nav-item dropdown">
                                      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">პრო მოთამაშეების</a>
                                      <div class="dropdown-menu bg-light">
                                          <a class="dropdown-item" asp-controller="ProPlayerStats" asp-action="PlayersGear" asp-route-id="1" id="per">პერიფერია</a>
                                          <a class="dropdown-item" asp-controller="ProPlayerStats" asp-action="Index" asp-route-id="1" id="stat">სტატისტიკა</a>
                                      </div>
                                    </li>

                                    <li class="nav-item">
                                      <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">კონტაქტი</a>
                                    </li>

                                    @if (user.IsSignedIn(User))
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link fa fa-sign-out" asp-controller="Account" asp-action="LogOff" title="sign-out"> გასვლა</a>
                                            </li>
                                    }
                                    else
                                    {
                                        <li class="nav-item">
                                        <a class="nav-link fa fa-sign-in" href="/Account/Login/#inner_banner"  title="sign-out"> შესვლა</a>
                                        </li>
                                    }
                                    @{
                                        if (User.IsInRole("Admin"))
                                        {
                                            <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
                                        <div class="dropdown-menu bg-light">
                                            <a class="dropdown-item" asp-controller="Admin" asp-action="CreateItem" title="add-item"> ნივთის დამატება</a>
                                            <a class="dropdown-item" asp-controller="Admin" asp-action="ProductsUSD" title="add-item"> ხარჯთაღრიცხვა $</a>
                                            <a class="dropdown-item" asp-controller="Admin" asp-action="ProductsGEL" title="add-item"> ხარჯთაღრიცხვა ₾</a>
                                        </div>
                                            
                                            </li>
                                            //<li> <span class="topbar-label"><i id="heart" class="fa  fa-heart"></i></span> <span id="hello" class="topbar-hightlight">Hello, Admin</span> </li>
                                        }
                                        //if (User.IsInRole("User"))
                                        //{
                                        //    <li> <span class="topbar-label"><i id="homeIcon" class="fa  fa-home"></i></span> <span id="tbilisi" class="topbar-hightlight">Tbilisi,Georgia , 0102</span> </li>
                                        //    <li> <span class="topbar-label"><i id="infoIcon" class="fa fa-envelope-o"></i></span> <span class="topbar-hightlight"><a href="mailto:info@fps.ge" id="mail">info@fps.ge</a></span> </li>
                                        //    <li> <span class="topbar-label"><i id="heart" class="fa  fa-heart"></i></span> <span id="hello" class="topbar-hightlight">Hello, User</span> </li>

                                        //}
                                        
                                    }


                                  </ul>
                                  <form class="d-flex">
                                    <input class="form-control me-sm-2" type="text" placeholder="Search">
                                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                                  </form>
                                </div>
                              </div>
                              </nav>
                              
                          </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <!-- Messenger Chat Plugin Code -->
    <div id="fb-root"></div>

    <!-- Your Chat Plugin code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
      var chatbox = document.getElementById('fb-customer-chat');
      chatbox.setAttribute("page_id", "102722825736453");
      chatbox.setAttribute("attribution", "biz_inbox");
    </script>

    <!-- Your SDK code -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v13.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- Messenger Chat Plugin Code END -->
    @*//Facebook Messanger End*@

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - FPS.GE - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
