* {
    box-sizing:border-box;
}

body {
    transition: background 1s linear;
}

.dark {
    background-color: #292C35 !important;
}

.white {
    background-color: #ffffff !important;
}

.spanWhiteMode {
    color: #323232;
}
.aWhiteMode {
    color: #323232;
}

.headingss {
    color: #323232;
}

.aWhiteMode:hover{
    color:#000000;
}

/*.yle {
    color:white;
}*/

.checkbox {
    opacity:0;
    position:absolute;
}

.checkbox:checked + .label .ball {
    transform:translateX(24px);
}

.label {
    background-color: #111;
    display:flex;
    align-items:center;
    justify-content:space-between;
    border-radius:50px;
    position:relative;
    padding:5px;
    height:26px;
    width:50px;
}

.fa-moon-o {
    color:#f1c40f;
}

.fa-sun-o {
    color: #f39c12;
}

.ball {
    background-color:#fff;
    border-radius:50%;
    position:absolute;
    top:2px;
    left:2px;
    height:22px;
    width:22px;
    transition: transform 0.2s linear;
}