@model eCommerceForPeripherials.Models.Admin.ProductsGEL

@{
    ViewData["Title"] = "CreateProductGEL";
}

<h1>CreateProductGEL</h1>

<h4>ProductsGEL</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateProductGEL" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceGEL" class="control-label"></label>
                <input asp-for="PriceGEL" class="form-control" />
                <span asp-validation-for="PriceGEL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

