@model eCommerceForPeripherials.Models.ViewModels.LoginViewModel

<div style="text-align:center;">
    <a id="log" href="#" onclick="switcherForLogin();" style="align-content:center; text-decoration:underline;">ავტორიზაცი</a>
    <a id="reg" href="#" onclick="switcherForRegister();" style="align-content:center; text-decoration:none; padding-left:1%;">რეგისტრაცია</a>
</div>

<div class="row" style="justify-content:center; max-width:50%; margin:auto; padding-top:0px;">
    <form id="loginForm" method="post" asp-controller="Account" asp-action="Login">
    <div asp-validation-summary="All"></div>
    <fieldset>
    <div class="form-group">
      <label for="user" class="form-label mt-4">ელ.ფოსტა</label>
      <input id="user" asp-for="Email" type="text" class="form-control">
      <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
      <label for="pass" class="form-label mt-4">პაროლი</label>
      <input id="pass" asp-for="Password" type="password" class="form-control" placeholder="Password" data-type="password">
      <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
      <div class="group">
          <input id="check" type="checkbox" class="form-check-input" value="" checked>
          <label for="check"><span class="icon"></span> დამტოვე სისტემაში</label>
      </div>
    </div>
    
    <div class="form-group" style="padding-top:1%;">
        <button type="submit" class="btn btn-outline-light">სისტემაში შესვლა</button>
        <a href="#forgot" style="padding-left:2%;">დაგავიწყდა პაროლი?</a>
    </div>

  </fieldset>
</form>

<partial name="_Register"/>

</div>

<script>
    function switcherForRegister(){
        if(!document.getElementById('loginForm').hidden)
        {
            document.getElementById('loginForm').hidden = true;
        }
        document.getElementById('registerForm').hidden = false;
        document.getElementById('log').style.textDecoration = 'none';
        document.getElementById('reg').style.textDecoration = 'underline';
    }

    function switcherForLogin(){
        if(!document.getElementById('registerForm').hidden)
        {
            document.getElementById('registerForm').hidden = true;
        }
        document.getElementById('loginForm').hidden = false;
        document.getElementById('reg').style.textDecoration = 'none';
        document.getElementById('log').style.textDecoration = 'underline';
    }
    

</script>






@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
    
}