@model eCommerceForPeripherials.Models.ViewModels.LoginViewModel

@*<div class="row" style="padding-left:25%;">
        <div class="col-md-8">
            <section id="loginForm">
                <form id="account" method="post" asp-controller="Account" asp-action="Login">
                    <h4 style="padding-left:25%;">Sign In</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group row">
                        <label class="col-md-2" asp-for="Email"></label>
                        <div class="col-md-10">
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2" asp-for="Password"></label>
                        <div class="col-md-10">
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10 offset-md-2 custom-checkbox">
                            <label asp-for="RememberMe" class="pr-4 pl-0">
                                <input asp-for="RememberMe" />
                            </label>
                            Remember me?
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10 offset-md-2">
                            <input type="submit" value="Log in" class="btn btn-success" />
                        </div>
                    </div>
                    <p class="col-md-10 offset-md-2">
                        <a asp-action="Register" asp-controller="Account">Sign Up</a>
                    </p>

                </form>
            </section>
        </div>
    </div>*@

<!-- inner page banner -->
<div id="inner_banner" class="section inner_banner_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="title-holder">
                        <div class="title-holder-cell text-left">
                            <h1 class="page-title">Shop Page</h1>
                            <ol class="breadcrumb">
                                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                                <li class="active">Shop</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end inner page banner -->

<div class="row" style="background-color:black; padding-bottom:120px;">
    <div class="login-wrap">
        <div class="login-html" id="login">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
            <div class="login-form">
                <form id="account" method="post" asp-controller="Account" asp-action="Login">
                    <div class="sign-in-htm">
                        <div class="group">
                            <label for="user" class="label">Email</label>
                            <input id="user" asp-for="Email" type="text" class="input">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Password</label>
                            <input id="pass" asp-for="Password" type="password" class="input" data-type="password">
                        </div>
                        <div class="group">
                            <input id="check" type="checkbox" class="check" checked>
                            <label for="check"><span class="icon"></span> Keep me Signed in</label>
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="Sign In">
                        </div>
                        <div class="hr"></div>
                        <div class="foot-lnk">
                            <a href="#forgot">Forgot Password?</a>
                        </div>
                    </div>

                </form>
                <form id="register" method="post" asp-controller="Account" asp-action="Register">
                    <div class="sign-up-htm">
                        <div class="group">
                            <label for="user" class="label">Name</label>
                            <input id="user" name="Name" type="text" class="input">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Email Address</label>
                            <input id="pass" type="text" name="Email" class="input">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Password</label>
                            <input id="pass" type="password" name="Password" class="input" data-type="password">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Repeat Password</label>
                            <input id="pass" type="password" name="ConfirmPassword" class="input" data-type="password">
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="Sign Up">
                        </div>
                        <div class="hr"></div>
                        <div class="foot-lnk">
                            <label for="tab-1">Already Member?</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
